<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/navigation.min.css">
    <link rel="shortcut icon" href="./img/Logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/Landing.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<style>
  body {
    flex-direction: column;
  }
  footer{
    margin-top:24px;
    width:100%;
  }
  .container{
    width: 100%;
    box-shadow: none;
    border: none;
  }
</style>
</head>

<body>
  <div class="violet-storm-wrapper">
    <div class="violet-storm-bg"></div>
    <% if (message && message.trim() !=='' ) { %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.10.1/lottie.min.js"></script>

      <script>
        // Mostrar la ventana de SweetAlert2
        Swal.fire({
          title: '<%= message %>',
          text: 'Intente De Nuevo',
          html: '<p>Verifique Sus Datos</p><div class="lottie-animationV" style="height: 140px; overflow:hidden;" data-animation-path="./Lottie/incoretPassword.json"></div>'
        });
      </script>
      <script>const lottieContainer = document.querySelector('.lottie-animationV');
        const animationPath = lottieContainer.getAttribute('data-animation-path');
        lottie.loadAnimation({
          container: lottieContainer,
          path: animationPath,
          renderer: 'svg',
          loop: true,
          autoplay: true,
          duration: 2,
          delay: 1
        });</script>

      <% } %>
        <header id="header">
          <a href="/" class="logo">
            <img src="/img/Logo.webp" alt="Logo" loading="lazy"  draggable="false"  draggable="false">
          </a>
          <ul>
            <li><a href="/signin">Inicar</a></li>
            <li><a href="/signup">Registrarse</a></li>
          </ul>
        </header>
        <section class="sectionform">
          <div class="leftPanel">
            <h1 class="welcomeTxt">WELCOME</h1>
            <div class="custom-shape-divider-bottom-1629894577">
              <%- include('./svgSignup') %>

            </div>
          </div>
          <div class="rightPanel">

            <form class="loginForm" action="/signin" method="POST">
              <div class="imgcaja">
                <img src="/img/Logo.webp" alt="Logo" loading="lazy">
              </div>
              <h2 class="loginFormH2">Iniciar Sesión</h2>
              <div class="inputInDiv">
                <input class="txtInput" type="email" name="correo" placeholder="Usuario" required />
                <input class="txtInput" type="password" name="password" placeholder="Contraseña" required />
                <button class="btnLogin" type="submit" class="loginBtn">Iniciar Sesión</button>
              </div>
            </form>

          </div>
        </div>
        <%- include('../partials/Landing/FooterSection'); %>
      </section>