<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="./img/Logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/navigation.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/sweetalert2.all.min.js"></script>

</head>

<body>

<div class="violet-storm-wrapper">
   <div class="violet-storm-bg"></div>
<% if (message) { %>
<script>
  Swal.fire({
    icon: 'info',
    title: 'Registro en revisión',
    html: '<p><%= message %></p>',
    confirmButtonText: 'Entendido'
  }).then(() => {
    // Limpiar el mensaje para que no se muestre al recargar
    window.history.replaceState({}, document.title, window.location.pathname);
  });
</script>
<% } %>




  <header id="header">
    <a href="/" class="logo">
      <img src="/img/Logo.webp" alt="Logo" loading="lazy"  draggable="false">
    </a>
    <ul>
      <li><a href="/signin">Inicar</a></li>
      <li><a href="/signup">Registrarse</a></li>
    </ul>
  </header>
  <section class="sectionform">
    <div class="leftPanel">
      <div class="custom-shape-divider-bottom-1629894577">
        <h1 class="welcomeTxt">WELCOME</h1>
        <%- include('./svgSignup') %>
    <link rel="stylesheet" href="/css/Landing.min.css">
      </div>
    </div>
    <div class="rightPanel">
      <form class="loginForm" action="/signup" method="POST">
        <div class="imgcaja">
          <img src="/img/Logo.webp" alt="Logo" loading="lazy" draggable="false">
        </div>
        <h2 class="loginFormH2">Registro</h2>
        <div class="inputInDiv">
          <input class="txtInput" type="text" placeholder="Nombre Completo" name="nombre" id="username">
          <input class="txtInput" type="email" placeholder="Correo Electronico" name="correo" id="correo">
          <input class="txtInput" type="password" name="password" id="password" placeholder="Contraseña">
          <button class="btnLogin" type="submit">registrarse</button>
          </div>
          </form>
          <% if (message) { %>
  <p><%= message %></p>
<% } %>
    </div>
    <div class="footer">
      <p>Copyright © 2022 ChillY_Code. All Right Reserverd</p>
    </div>
    </div>
  </section>
  