<style>
    .features-section{
         min-height: 100dvh;
  overflow: hidden; /* Ocultar el contenido desbordado */
  position: relative; /* Posicionamiento relativo */
    }
    .padding{
        padding: 0rem  1rem 2rem 1rem;
    }
</style>

<section class="features-section"  id="funcionamiento">
    <div class="container padding">
        <div class="section-header">
            <h2 class="section-title">
                Key Features
            </h2>
            <p class="section-subtitle">
                Explore the powerful features designed to optimize your inventory and sales processes.
            </p>
        </div>
        <div class="features-grid">
            <div class="feature-card">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#137fec"><path d="M200-80q-33 0-56.5-23.5T120-160v-451q-18-11-29-28.5T80-680v-120q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v120q0 23-11 40.5T840-611v451q0 33-23.5 56.5T760-80H200Zm0-520v440h560v-440H200Zm-40-80h640v-120H160v120Zm200 280h240v-80H360v80Zm120 20Z"/></svg>
                </div>
                <div class="feature-content">
                    <h3 class="feature-title">Inventory Management</h3>
                    <p class="feature-description">Real-time inventory tracking, automated stock alerts, and seamless
                        order fulfillment.</p>
                </div>
            </div>
            <div class="feature-card">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#137fec"><path d="M120-120v-80l80-80v160h-80Zm160 0v-240l80-80v320h-80Zm160 0v-320l80 81v239h-80Zm160 0v-239l80-80v319h-80Zm160 0v-400l80-80v480h-80ZM120-327v-113l280-280 160 160 280-280v113L560-447 400-607 120-327Z"/></svg>
                </div>
                <div class="feature-content">
                    <h3 class="feature-title">Sales Tracking</h3>
                    <p class="feature-description">Monitor sales performance, manage customer relationships, and process
                        payments efficiently.</p>
                </div>
            </div>
            <div class="feature-card">
                <div class="feature-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#137fec"><path d="M280-280h80v-200h-80v200Zm320 0h80v-400h-80v400Zm-160 0h80v-120h-80v120Zm0-200h80v-80h-80v80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/></svg>
                </div>
                <div class="feature-content">
                    <h3 class="feature-title">Reporting & Analytics</h3>
                    <p class="feature-description">Generate detailed reports, analyze sales trends, and make informed
                        business decisions.</p>
                </div>
            </div>
        </div>
    </div>
    <%- include ('./VideoSection'); %>

</section>