<header>
    <div class="header-content">
        <div class="logo-section">
            <img src="./img/Logo.jpg" class="logo-icon" alt="Logo" loading="lazy"  draggable="false">
            <h2 class="logo-text">Keku Inventory</h2>
        </div>
        <div class="header-nav-section">
            <nav class="main-nav">
                <a class="nav-link" href="#inicio">Inicio</a>
                <a class="nav-link" href="#funcionamiento">Funcionamiento</a>
                <a class="nav-link" href="#historias">Historias</a>
                <a class="nav-link" href="#precios">Precios</a>
            </nav>
            <div class="header-buttons">
                <button class="btn btn-login" onclick="window.location.href='/signin'">
                    <span>Login</span>
                </button>
                <button class="btn btn-get-started">
                    <span>Get Started</span>
                </button>
            </div>
        </div>
    </div>
</header>