<section class="hero-section" id="inicio">
    <div class="container">
        <div class="hero-grid">
            <div class="hero-content">
                <h1 class="hero-title">
                    Streamline Your Inventory and Boost Sales
                </h1>
                <p class="hero-subtitle">
                    Manage your inventory efficiently, track sales in real-time, and make data-driven decisions to grow
                    your business.
                </p>
                <div class="hero-buttons ">
                    <button class="btn btn-primary" onclick="window.location.href='/signin'">
                        <span>Get Started Free</span>
                    </button>
                    <button class="btn btn-secondary">
                        <span>Request a Demo</span>
                    </button>
                </div>
            </div>
            <div class="hero-image">
                <div class="tilt-wrapper">
                    <img class="tilt-image" alt="Inventory management software dashboard"
                        src="/img/Landing.png" 
                        loading="lazy"
                         draggable="false"
                        />
                    <div class="hero-image-overlay"></div>

                </div>
            </div>
        </div>
    </div>
</section>



