<style>
    .app-content-actions-wrapper{
        margin-right: 60px;
    }
</style>

<div class="app-content-actions">
  <input class="search-bar" placeholder="Buscar..." type="text" id="buscador-admin">
  <div class="app-content-actions-wrapper">
    <div class="filter-button-wrapper">
      <button class="action-button filter jsFilter" type="button">
        <span>Filtrar</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
        </svg>
      </button>

      <div class="filter-menu">
        <label>Categoría</label>
        <select id="filtro-categoria-admin" name="categoria">
          <option value="">Todas</option>
          <option value="Tecnologia">Tecnologia</option>
          <option value="Ropa">Ropa</option>
          <option value="Heladeria">Heladeria</option>
        </select>

        <label>Estado</label>
        <select id="filtro-estado-admin">Estado
          <option value="">Todos</option>
          <option value="Activo">Activo</option>
          <option value="Agotado">Agotado</option>
        </select>
        <label>Ordenar por:</label>
        <select id="filtro-orden-admin">
          <option value="">Ninguno</option>
          <option value="ventas-asc">Ventas (Menor a Mayor)</option>
          <option value="ventas-desc">Ventas (Mayor a Menor)</option>
          <option value="cantidad-asc">Cantidad (Menor a Mayor)</option>
          <option value="cantidad-desc">Cantidad (Mayor a Menor)</option>
          <option value="precio-asc">Precio (Menor a Mayor)</option>
          <option value="precio-desc">Precio (Mayor a Menor)</option>
          <option value="hora-asc">Fecha (Más antiguo primero)</option>
          <option value="hora-desc">Fecha (Más reciente primero)</option>
        </select>

        <div class="filter-menu-buttons">
          <button class="filter-button reset" type="button" onclick="resetFilters()">Reset</button>
          <button class="filter-button apply" type="button" onclick="aplicarFiltro()">Aplicar</button>
        </div>
      </div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>

</div>



