<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('./partials/header/header'); %>
<style>
    section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
</style>
</head>

<body>
<section>
<div>
<h2>Inicar Session</h2>
<a href="/signin">Aqui</a>
</div>

<div>
    <h2>Registrate</h2>
    <a href="/signup">Aqui</a>
</div>
</section>