.app-content-inicio {
    padding: 10px;
    width: 100%;
    background-color: var(--app-bg);
    height: 100%;
    flex: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.card-info-preview{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.card-info-preview div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.card-info-preview div span{
    align-items: center;
    display: flex;
    justify-content: center;
    gap:5px;
}

.card-info-preview div span svg{
    width: 20px;
    bottom: 4px;
    height: 20px;
    position: relative;
}

.parent {
  display: grid;
  /* grid dinámico y responsivo */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  width: 100%;
}

.parent .card.cardAdmin {
    height: auto;
}

 .parent .card:hover {
  transform: scale(1.05);
}   
.div {
    grid-row: span 3 / span 3;
}
/* SUBTEXTOS (total, fecha, código) */
.parent .card p {
  font-size: 0.95rem;
  color: var(--app-content-main-color);
  margin: 2px 0;
}

/* LISTA DE PRODUCTOS */

  .card-link {
  text-decoration: none;
  color: inherit; /* hereda color del texto */
  display: flex; /* que ocupe todo */
  flex-direction: column-reverse;
}

.card-link .card {
  cursor: pointer;
}
.barcode{
  width: 100%;
    background: var(--app-content-secondary-color);

}  

.fecha-container {
  text-align: center;
}
.fecha-dia {
  display: block;
  font-size: 0.8rem;
  color: var(--app-content-main-color);
}

.fecha-hora {
  display: block;
  font-size: 0.85rem;
  color: var(--app-content-main-color);
}

.cont-producto .contcard{
    height: 100% !important;
    overflow: auto;
}

.cont-producto {
    position: relative;
    height: 100vh;
    overflow: auto;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-card{
    height: auto !important;
}

.cont-producto h3{
    color: var(--app-content-main-color);
    font-size: 1.5em;
    margin-bottom: 5px;
}

.cont-producto .contcard {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    gap:15px;
}

.parent .card {
    background: var(--app-content-secondary-color);
    border: 1px solid var(--sidebar-active-link);
    height: 200px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    box-shadow:var(--filter-shadow);
    transition: transform 0.2s ease;
}


@media(max-width: 990px){
    .contenedor-ventas .cont-from-ventas {
        margin: 0px 0px 64px 0px !important;
    }
}

@media (max-width:641px){
    .cont-producto{
        min-height:auto;
    }
    .cont-producto .contcard{
        margin: 0px 0px 80px 0px;
    }
}

@media (max-width: 260px){

    form#venderProducto {
        display: flex;
        position: relative;
        width: 160px;
        flex-direction: column;
    }
    .cont-from-ventas select{
        width: auto !important;
    }
    .cont-from-ventas hr{
        width: auto;
    }
    
    .cont-from-ventas input{
        width: auto;
    }
    
    .contenedor-ventas .cont-from-ventas{
        width: 177px;
    }
    .contenedor-image .lottie-animation{
        width: 378px;
        height: 100px;
    }
    .app-content-inicio{
        padding:0px;
    }
}

.swal2-container.swal2-center>.swal2-popup{
    background: var(--sidebar) !important;
}

.swal2-styled.swal2-confirm{
    background-color: var(--action-color) !important;
}
.swal2-title{
    color: var(--action-color) !important;
}
.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(36 36 36 / 65%) !important;
}