@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body{
	background-color: var(--app-bg);
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}


img{
  -webkit-user-drag: none; /* Safari/Chrome */
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

}

/* Colors */

.light {
    --app-bg: #101827;
    --sidebar: rgba(21, 30, 47,1);
    --sidebar-main-color: #fff;
    --table-border: #1a2131;
    --table-header: #1a2131;
    --app-content-main-color: #fff;
    --sidebar-link: #fff;
    --sidebar-active-link: #1d283c;
    --sidebar-hover-link: #1a2539;
    --action-color: #2869ff;
    --action-color-hover: #6291fd;
    --app-content-secondary-color: #1d283c;
    --filter-reset: #2c394f;
    --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --Eliminar:rgb(230 5 54 / 58%);
    --scrollbar-bg: rgb(255 253 253 / 57%);
    --border-buttom-table:#1d283c;
    --popup-bg:rgb(0 0 0 / 14%);
    --popup-color:#f9fafb;
    --button-inactive:rgb(249 250 251 / 55%);
    --busqueda-resuls:#2869ff99 ;
    --colorsvgcar:#fff;
    --EliminarLG:#972222 ;
    --bg-login:#12181b;
    --bg-cont-login:#2a2e35;
    --colorProfileWindow:#ffffff4a;

}


:root {
    --app-bg: #fff;
    --sidebar: #f3f6fd;
    --app-content-secondary-color: #f3f6fd;
    --app-content-main-color: #1f1c2e;
    --sidebar-link: #1f1c2e;
    --sidebar-hover-link: rgba(195, 207, 244, 0.5);
    --sidebar-active-link: rgba(195, 207, 244, 1);
    --sidebar-main-color: #1f1c2e;
    --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --border-buttom-table:#1d283c2e;
    --scrollbar-bg: #00000033;
    --popup-bg:rgb(114 114 114 / 13%);
    --popup-color:#ffffffb3;
    --button-inactive:#afafaf;
    --busqueda-resuls:#2869ff42 ;
    --colorsvgcar:#000;
    --action-color: #2869ff;
    --action-color-hover: #6291fd;
    --bg-login:#fff ;
    --EliminarLG: #972222;
    --bg-cont-login:rgba(255, 255, 255, 0.95);
    --colorProfileWindow:#747474e6;

}


.app-container {
    border-radius: 4px;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    max-width: 1280px;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 2000px;
    margin: 0 auto;
}


.sidebar {
    flex-basis: 200px;
    max-width: 200px;
    flex-shrink: 0;
    background-color: var(--sidebar);
    display: flex;
    flex-direction: column;
    }
@media(max-width: 990px){
    .sidebar{
        display: none;
    }
    .navegacion.active{
        display: flex !important;
    }
    .app-content-header .toggle::after{
        transform: translateY(-6px) !important;
    }
    .app-content-header .toggle::before{
        transform: translateY(6px) !important;
    }
    .toggle.active::after{
        transform: translateY(0) rotate(45deg) !important;
    }
    .toggle.active::before{
        transform: translateY(0) rotate(-45deg) !important;
    }
}
@media(max-width: 236px){
    .sidebar{
        max-width: 160px;
    }
}

.sidebar .sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    }
.app-icon {
    flex-shrink: 0;
    overflow: hidden;
    width: 45px;
    color: var(--sidebar-main-color);
    height: 45px;
    border-radius: 50%;
    /* position: relative; */
}
.app-icon img {
    width: 100%;
    height: 100%;
    pointer-events:none;
    object-fit: cover;
}

.sidebar-list {
    margin:16px 0px;
    list-style-type: none;
    padding: 0;
}
.sidebar-list-item {
    position: relative;
    margin-bottom: 4px;

}
.sidebar-list-item a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    color: var(--sidebar-link);
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}

.sidebar-list-item.active {
    background-color: var(--sidebar-active-link);
}

.sidebar-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--action-color);
    height: 100%;
    width: 4px;
}
.sidebar-list-item:hover {
    background-color: var(--sidebar-hover-link);
}
.sidebar-list-item svg {
    margin-right: 8px;
}
a:active, a:hover {
    outline-width: 0;
}

.account-info {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: auto;
}

.account-info-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
.account-info-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events:none;
}

.account-info-name {
    font-size: 14px;
    color: var(--sidebar-main-color);
    margin: 0 8px;
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
}

.account-info-more {
    color: var(--sidebar-main-color);
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
}

/* CONTENEDOR DE PRODUCTOS */
.app-content {
    padding: 16px;
    width: 100%;
    background-color: var(--app-bg);
    height: 100%;
    flex: 1;
    max-height: 100%;
    display: flex;;
    flex-direction: column;
}

.app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px;
}

.app-content-header .toggle{
    position: relative;
	width: 30px;
	height: 30px;
	background: transparent;
	margin-right: 20px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	display: flex;
}

.app-content-header .toggle::after{
	content: '';
	position: absolute;
	width: 28px;
	height: 3px;
	background: var(--action-color);
    transform: translateY(0) rotate(45deg);
	transition: 0.5s;
}

.toggle.active::after{
    transform: translateY(-6px);
}


.app-content-header .toggle::before{
	content: '';
	position: absolute;
	width: 28px;
	height: 3px;
	background: var(--action-color);
    transform: translateY(0) rotate(-45deg);
	transition: 0.5s;
}

.toggle.active::before{
	transform: translateY(6px);
}
.navegacion.active{
	display: none;
}


.app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}
.mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 4;
    color: var(--app-content-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
}
.setting{
    fill:var(--action-color);
}
.mode-switch .moon {
    fill: var(--app-content-main-color);
}

.mode-switch.active .moon {
    fill: none;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, select {
    text-transform: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.puntos-perfil.is-active ul {
    opacity: 1;
    pointer-events: all;
    transform: translatey(50px);
}

.puntos-perfil.is-active ul li{
    justify-content: center;
    list-style: none;
    color: var(--app-content-main-color);
    padding: 12px 4px;
/*    padding: 10px 18px;*/
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    transition: 0.3s;

}
.puntos-perfil ul li a {
    padding: 2px 18px;
    display: flex;
    text-decoration: none;
    color: var(--theme-color);
    font-size: 0.8em;
    align-items: center;
    justify-content: center;
}
.menu-perfil ul.activePuntos .hover-radius{
    padding: 6px 18px;
}
.menu-perfil ul.activePuntos li:hover:first-child{
    border-radius: 12px 12px 0 0;
}
.menu-perfil ul.activePuntos li:hover:last-child{
    border-radius:  0 0 13px 13px;
}
.puntos-perfil ul {
    height: 200px;
    border-radius:8px;
    overflow: hidden;
    box-shadow: var(--filter-shadow);
    position: absolute;
    background: var(--sidebar);
    height: 124px;
    max-width: 120px;
    left: 88px;
    pointer-events: none;
    opacity: 0;
    transform: translatey(10px);
    transition: all 0.4s ease;
    bottom: 113px;
}
.puntos-perfil.is-active ul li:hover{
    background: var(--sidebar-hover-link);
}

.puntos-perfil.is-active ul li:hover:first-child{
    border-radius:13px 13px 0 0;
}

#svgcar{
    fill:var(--colorsvgcar);
}