<div data-swapy-slot="cli">
  <div data-swapy-item="cli">
    <div class="chart-card">
      <div class="handle" data-swapy-handle></div>
      <h2>Ventas por Cliente</h2>
      <div id="chart-clientes"></div>
    </div>
  </div>
</div>
