<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Preconnect a los CDNs -->
<link rel="preconnect" href="https://unpkg.com" crossorigin>
<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>

<!-- Preload fuentes -->
<link rel="preload" href="/fonts/Poppins-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/Poppins-Medium.ttf" as="font" type="font/ttf" crossorigin>

    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/Logo.webp" type="image/x-icon">
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-3.6.0.min.js" ></script>
    <link rel="stylesheet" href="/css/navigation.min.css">

</head>
<body>
